name: Publish Docker Image

on:
  push:
    branches: [ main ]
  release:
    types:
      - published	  
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  
jobs:

  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: self-hosted
    
	permissions:
      contents: read
      packages: write
	  
    steps:
      - name: Checkout Kong source code
        uses: actions/checkout@v2
		
      - name: Docker kong
        id: docker_kong
        uses: docker-kong/kong@v2.5
        with:
          images: ghcr.io/arvigenterprises/kong:main
          tag-sha: true
          tag-edge: false
          tag-latest: true
		  
	  - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PASSWORD }}
		  
		- name: Build image
        uses: docker/build-push-action@v2
        with:
          tags: ${{ steps.docker_meta.outputs.tags }} 
          file: ./Dockerfile
          
      - name: Monitor image for vulnerabilities with Snyk
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK }}
        with:
          command: monitor
          image: "ghcr.io/arvigenterprises/kong:main"
          args: --file=Dockerfile --project-name=kong
          
      - name: Push image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.docker_kong.outputs.tags }}
          file: ./Dockerfile
